nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(150, 150, 197);
    padding: 25px;
}

#welcome-message{
    text-align: center;
}

body{
    padding: 20px;
}

footer{
    text-align: center;
    color: grey;
}